{% extends "socialApp/base.html" %}
{% block content %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="jumbotron">
    <h1>Access Denied</h1>
    <p>You must login in order to use this page!</p>
    <a href="{% url 'register' %}">
      <button type="button" class="btn btn-primary btn-lg"">Signup</button>
    </a>
    <a href="{% url 'login' %}">
      <button type="button" class="btn btn-primary btn-lg"">Login</button>
  </div>
</div>


{% endblock %}
